body {
    background-color: #313338
}
.body-space {
    display: flex;
    height: 97vh;
}

.padding-left {
    width: 50vw;
}

.padding-right {
    width: 50vw;
}

.central-space {
    Width: 50vw;
    align-content: center;
}

.back-glow {
    box-shadow: 0px 0px 5px 2px #E5E0ED;
    
}
.start-screen {
    align-content: center;
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: hsla(265, 100%, 2%, 1);
}


.score {
    text-align: left;
    font-size: 25px;
    color: whitesmoke;
    width: 100%;
}
#startBtn {
    border-radius: 7px;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px 2px #E5E0ED;
}
